body {
	font-family:Helvetica,Arial,sans-serif;
}
ul {
	list-style: none;
	padding: 0;
}
a:link {

}


header {
	background: #6495ED;
	color: #fff;
	height: 20%;
}
header img {
	border-radius: 100px;
}
header .headimg {
	margin: 0px 10px 10px 30px;
	padding-top: 14px;
}
header .headimg img{
	width:60px;
	height: 60px;
	vertical-align: middle;
}
header .headimg .name {
	margin-left: 20px;
	font-size: 18px;
	padding-bottom: 4px;
	border-bottom: 3px solid #fff;
}
header .icon {
	margin: 10px 0px 10px 30px; 
}
header .icon span {
	margin: 0px 8px;
	padding:4px;
}
header .icon img{
	width:30px;
	height: 30px;
	transition:1.5s;
}
header .icon img:hover {
	transform: scale(1.5) rotate(360deg);
}


.content {
	margin-top: 2%;
}
.leftcontent {
	background: #6495ED;
	color: #fff;
	width: 20%;
	margin:0% 0 0 6%;
	padding: 6px 0px 6px 0px;
	box-shadow: 10px 10px 15px #CCC;
	transition:1s; 	
	float: left;	
}
.leftcontent:hover{
	transform: scale(1.05);
	font-family:Helvetica,Arial,sans-serif;
	font-size: 17px;
}
.leftcontent ul li {
	padding: 8px 2px 10px 12px;
	margin:0px 0px 2px 36px;
	font-size: 17px;
	cursor: pointer;
	border-left:3px solid #6495ED;
}


.rightcontent {
	width:64%;
	margin-right:6%; 
	float: right;
	box-shadow: 0px 6px 18px #CCC;
}
.rightcontent div {
	line-height:160%; 
	letter-spacing:1.6px;
	margin: 10px 0px 10px 14px;
}
.experence,.project,.works {
	display: none;
}


footer{
	font-size: 14px;
	color: #fff;
	width: 100%;
	height: 45px;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left:0px;
}
ul {
    margin: 0px;
    list-style: none;
}
.share-group li{
	padding:4px 12px; 
	display:inline-block;
}
footer a {
    text-decoration: none;
    color: #fff;
}
.copy{
	padding-bottom: 4px;
}
.footercontent {
	background:#42474B; 
	display: none;
}
footer:hover .footercontent{
	display: block;
}



.hiddenClass {
	display: none;
}
.showClass {
	display: block;
}
.select {
	width: 40%;
	border-left:3px solid orange !important;
	background: #495A80 !important;
}


#mask{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.4);	
}
#sidebar{
	position: fixed;
	width: 220px;
	background: #333;
	color: #fff;
	top: 0;
	right: -220px;
	bottom: 0;
	padding: 20px 0;
	transition: right 0.5s;
}
#sidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#sidebar ul a{
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	width:100%;
	display: inline-block;
	font-size: 18px;
}
#sidebar ul a:hover{
	background: #444;
}