/**
 * 2018/1/28
 */
body {
	font:12px Helvetica,Arial,sans-serif;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none;
}


/*header*/
header > img {
	width: 100%;
	height: 100px;
}
header ul {
	display: inline-block;
}
header ul li {
	display: inline-block;
	margin: 5px 15px;
	padding: 2px 10px;
	font-size: 15px;
	font-weight: 400px;
}
header ul li:hover {
	border-bottom: 2px solid orange;
}
header ul li:first-child {
	margin-left: 300px;
}
header ul li:nth-of-type(odd) {
	color: red;
}
header ul li:nth-of-type(even) {
	color: blue;
}
header ul li:nth-of-type(3n) {
	color: rgb(47, 152, 66);
}